<b><%= link_to "Add photos", new_photo_path(:album_id => @album.id) %></b> |
<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<p>
  <%= image_tag @album.photo.url(:small) %>
</p>

<% @album.photos.each do |photo|  %>
  <%= image_tag photo.photo.url(:thumb) %>
<% end %>

