
<p>
  <strong>Name:</strong>
  <%= @photo.name %>
</p>

<%= image_tag @photo.photo.url(:thumb) %>

<p>
  <strong>Album:</strong>
  <%= @photo.album_id %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>


<%= javascript_include_tag 'photos' %>
<input data-url="/articles/<%= @photo.id %>/photos" id="fileupload" name="photo[photo]" type="file">- See more at: http://amgrade.com/blogs/thoughts/multiple-files-upload-rails#sthash.0OldtCtJ.dpuf</input>