<!DOCTYPE html>
<html>
<head>
  <title>Photoseeker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<style type="text/css">
    ul{
        margin-top:-5px;
        padding: 0;
        list-style: none;
    }
    ul li{
        float: left;
        width: 100px;
        text-align: center;
        line-height: 21px;
    }
    ul li a{
        display: block;
        padding: 5px 10px;
        color: #333;
        background: #f2f2f2;
        text-decoration: none;
    }
    ul li a:hover{
        color: #fff;
        background: #939393;
    }
    ul li ul{
        display: none;
    }
    ul li:hover ul{
        display: block; /* display the dropdown */
    }
</style>


<div class="header" style="height:30px;border-bottom:1px solid silver;">
<b style="font-size:20px;color:#0077BE;">PHOTOSEEKER</b>
  <div id="nav" style ="float:right;padding-right:30px;">
    <% if user_signed_in? %>
    <%#= link_to "Admin", root_path if current_user.admin? %>
    <b><%= current_user.profile.full_name if current_user.profile.present? %></b>
    <%= link_to "Complete your Profile", new_profile_path unless current_user.profile %>
    (<%= link_to "Logout", destroy_user_session_path, method: :delete  %>)
    <% else %>
    <ul>
      <li><%= link_to "New User", new_user_registration_path %></li>
      <li><%= link_to "Login", new_user_session_path %></li>
    </ul>
    <% end %>
  </div>
</div>
<div class="container" style="padding:20px;">
  <%= yield %>
</div>
</body>
</html>
